body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    position: relative;

}
.wrapper{
    height: 75vw;
    width: 75vw;
    justify-content: center;
}

.grid-row{
    display: flex;
}
.grid-box{
    background-color: white;

    border: .1px solid black;
}
